.item {
    text-align: center;
}

.image-rounded {
    border-radius: 50%;
    border: 5px solid;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.image-rounded:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}